[*.{cs,vb}]

# Forgive my rant... FU Microsoft and your damn nagging! Begone! Leave me alone!

# None of these new conventions (disabled below) make life simpler or better -- they only make things more complex and
# cryptic.

# How is "[.. list]" better and simpler than "list.ToArray()"?

# The latter is clear and short and everyone knows what it does. The former is some kind of regular expression puzzle or
# a weird LISP magic.

# In endlessly deprecating perfectly good code and adding new and pointless syntax, MS are polluting the C# language.
# I'm not saying all changes are bad, but +50% of are.

# When you know how to write something simply, you just write it. When you have half a dozen different but trivial ways
# to do the same damn thing, you have to consult to the web at every step. Moreover, the ceaseless nagging from the IDE
# to update perfectly good code to the latest crackpot convention becomes an end in itself. This is not programming; it
# is mere technocracy.

# Use object initializers
dotnet_diagnostic.IDE0017.severity = none

# Use expression body for methods
dotnet_diagnostic.IDE0022.severity = none

# Collection initialization can be simplified
dotnet_diagnostic.IDE0028.severity = none

# Variable declaration can be deconstructed (tuples)
dotnet_diagnostic.IDE0042.severity = none

# Use range operator
dotnet_diagnostic.IDE0057.severity = none

# Use switch expression
dotnet_diagnostic.IDE0066.severity = none

# Collection initialization can be simplified -- no it can't!
dotnet_diagnostic.IDE0301.severity = none

# Collection initialization can be simplified -- no it can't!
dotnet_diagnostic.IDE0305.severity = none

