###############################################################################
# README
###############################################################################

# These conform to ".fossil-settings/ignore-glob", but are also intended
# to work with ".gitignore". They are generic for: C#, C++ and Qt.

# Project specific
*.old


###############################################################################
# GIT
###############################################################################

# UNCOMMENT FOR GIT
# Comment out for fossil
.*
**/.*/
!.gitignore
!.editorconfig

# UNCOMMENT FOR FOSSIL
# Comment out for git
#.git/
#**/.git/
#.gitignore


###############################################################################
# IGNORE DIRECTORIES
###############################################################################

bin/
Bin/
**/bin/
**/Bin/

obj/
Obj/
**/obj/
**/Obj/

debug/
Debug/
**/debug/
**/Debug/

log/
Log/
LOG/
**/log/
**/Log/
**/LOG/

logs/
Logs/
LOGS/
**/logs/
**/Logs/
**/LOGS/

build/
Build/
BUILD/
**/build/
**/Build/
**/BUILD/

out/
Out/
OUT/
**/out/
**/Out/
**/OUT/

bld/
**/bld/

AppDir/
**/AppDir/

tmp/
Tmp/
**/tmp/
**/Tmp/

temp/
Temp/
**/temp/
**/Temp/

Scratch/
scratch/
**/Scratch/
**/scratch/

nocommit/
NoCommit/
NOCOMMIT/
**/nocommit/
**/NoCommit/
**/NOCOMMIT/

no-commit/
No-Commit/
NO-COMMIT/
**/no-commit/
**/No-Commit/
**/NO-COMMIT/

noncommit/
NonCommit/
NONCOMMIT/
**/noncommit/
**/NonCommit/
**/NONCOMMIT/

non-commit/
Non-Commit/
NON-COMMIT/
**/non-commit/
**/Non-Commit/
**/NON-COMMIT/


###############################################################################
# Object files
###############################################################################

*.slo
*.lo
*.o
*.obj


###############################################################################
# Binary files
###############################################################################

*.AppImage
*.exe


###############################################################################
# Log files
###############################################################################

*.log


###############################################################################
# Visual Studio
###############################################################################

.vs/
ipch/

*.ipch
*.sdf
*.tlog
*.opensdf
*.VC.opendb
*.VC.db

*.suo
*.user
*.userosscache
*.sln.docstates
*.userosscache
*.sln.docstates
.nuget/
_ReSharper.*
*.userprefs
*DS_Store
*.sln.ide

*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap


###############################################################################
# QT
###############################################################################

*.user
*.pro.user*
*.autosave
*.stash
moc_*.cpp
qrc_*.cpp
ui_*.h


###############################################################################
# Misc Hidden
###############################################################################

*~
~*

_*
_*/
**/_*/

*.lock
*.~lock

thumbs.db
Thumbs.db
**/thumbs.db
**/Thumbs.db

desktop.ini
**/desktop.ini


